/Inputs/nbproject/private/
/Inputs/build/
/TargetPickCenter/nbproject/private/
/TargetPickCenter/build/
/firstScene_00/nbproject/private/
/firstScene_00/build/
/texturePractice/nbproject/private/
/texturePractice/build/
/MagicsWarsProyect/nbproject/private/
/MagicsWarsProyect/build/
/nbproject/private/
/build/
nbproject/private/private.properties
